body {background-color: #252525; overflow-x: hidden; width: 99%;}

header {
    padding: 15px;
    border-bottom: 2px solid yellow;
    background-color: purple;
    width: 99%;
}
.un {position: fixed; right: 10px; bottom: 10px;}
.un img {width: 30px;}

.links {
    text-decoration: none;
    color: purple;
    text-align: center;
    height: 20px;
}
.links img {position: relative; top: 2.5px;}
.links a {
    color: yellow;
    font-size: 15px;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 5px;
}
.links a:hover {color: aqua; transition: 500ms;}


h1 {
    color: white;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid yellow;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
h2 {
    color: white;
    text-align: center;
    width: 100%;
    border-top: solid 2px rgb(151, 104, 151);
    border-bottom: solid 2px rgb(151, 104, 151);
    padding-bottom: 20px;
    margin-top: 0px;
}
h2 img {
    cursor: text;
    padding: 0;
    margin-top: 8.5px;
    width: 28px;
    position: relative;
    top: 5px;
}
#mat_text {margin: 0px; border-top: none;}


.niveis {text-align: center;}
section {
    color: white;
    width: 49%;
    margin-left: 10px;
}
section a {
    text-decoration: none;
    color: yellow;
    font-style: italic;
    font-size: small;
}
section a:hover {color: cyan; font-size: 15px;}
section h4 {margin-left: 20px; color: rgb(179, 179, 179);}
section p {margin-left: 35px; margin-bottom: 50px;}


.olimpiadas {width: 100%; display: flex;}
#mat_nivel1, #mat_nivel2, #mat_nivel3 {border-right: solid 2px rgb(151, 104, 151);}



footer {
    margin: 0;
    padding: 10px 0px;
    background: purple;
    color: white;
    border-top: solid 2px yellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: yellow;
    text-decoration: none;
}
footer a:hover {
    transition: 500ms;
    color: cyan;
}