body {background-color: #252525;}
header {
    padding: 15px;
    border-bottom: 2px solid yellow;
    background-color: purple;
    width: 100%;
}
.chama {position: fixed; right: 10px; bottom: 10px;}
.chama img {width: 30px;}

.links {
    text-decoration: none;
    color: purple;
    text-align: center;
    height: 20px;
}
.links img {position: relative; top: 2.5px;}
.links a {
    color: yellow;
    font-size: 15px;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 5px;
}
.links a:hover {color: aqua; transition: color 400ms;}

h1 {color: white;}

.coluna1 {
    display: inline-block;
    width: 47%;
    margin-left: 15px;
}
.coluna1 p {color: white;}

.coluna2 {
    display: inline-block;
    width: 47%;
    margin-left: 10px;
}
.coluna2 p {color: white;}
