body {background-color: #252525;}
header{padding: 15px;
    border-bottom: 2px solid yellow;
    background-color: purple;}
*{margin: 60;
    padding: 0;
    border: 60;}
header div {text-align: center;}
header div a {color: yellow;
    font-size: 15px;
    line-height: 30px;
    margin: 16px;
    text-decoration: none;
    font-family: fonte do header}
header div a:hover {color: aqua;
    transition: color 400ms;}
#box {text-align: center;
    padding: 32px;}
#box img {border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 32px;}
#box h1 {padding: 2px; font-size: 20px}
#box h2 {padding: 2px; font-size: 20px}
#box h3 {padding: 2px; font-size: 20px}
#box h4 {padding: 2px; font-size: 20px}
#box h4:hover {font-size: 22px;}
#box a:hover {color: green;
    transition: 600ms;}
div a {text-decoration: none;
    color: rgb(156, 43, 156);}
